{% extends 'base.html' %}
{% block title %}
<title>Courses | CodeWithHiren</title>
{% endblock title %}

{% block body %}

<div class="album py-5 bg-light">
  <div class="container my-4">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/Eu7G0jV0ImY">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>

          <div class="card-body">
            <p class="card-text"> <b style="color: orangered"> HTML </b> and <b style="color: blue"> CSS </b> are two of
              the core technologies for building Web pages.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/Eu7G0jV0ImY" target="_blank"> <button class="btn btn-sm btn-outline-info"  type="submit">Start Watching</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225"
            src="https://www.youtube.com/embed/ZaKzw9tULeM?list=PLjVLYmrlmjGfgBKkIFBkMNGG7qyRfo00W">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>


          <div class="card-body">
            <p class="card-text"> <b style="color: rgb(89, 89, 228)"> Numpy</b> has been the universal choice for array
              manipulation for Python coders</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/ZaKzw9tULeM?list=PLjVLYmrlmjGfgBKkIFBkMNGG7qyRfo00W" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/Kdz9J5vC4_o">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>

          <div class="card-body">
            <p class="card-text"><b style="color:#F6BE00;"> JavaScript</b> is lightweight and most commonly used as a part
              of web pages.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/Kdz9J5vC4_o" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225"
            src="https://www.youtube.com/embed/HyU4vkZ2NB8?list=PLjVLYmrlmjGdDps6HAwOOVoAtBPAgIOXL">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>

          <div class="card-body">
            <p class="card-text"><b style="color:rgb(9, 253, 9)"> Andriod Development</b> is the process by which
              applications are created for devices running the Android operating system.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/HyU4vkZ2NB8?list=PLjVLYmrlmjGdDps6HAwOOVoAtBPAgIOXL" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225"
            src="https://www.youtube.com/embed/LX4JUscM9Sk?list=PLjVLYmrlmjGdnIQKgnTeR1T9-1ltJEaJh">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>

          <div class="card-body">
            <p class="card-text"> <b style="color: rgb(8, 180, 248)">React </b> is a library for building composable
              user interfaces. It encourages the creation of reusable UI components.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/LX4JUscM9Sk?list=PLjVLYmrlmjGdnIQKgnTeR1T9-1ltJEaJh" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225"
            src="https://www.youtube.com/embed/nnBMsGrwuUE?list=PLjVLYmrlmjGeyCPgdHL2vWmEGKxcpsC0E">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>

          <div class="card-body">
            <p class="card-text"> <b style="color: rgb( 0, 117, 143)"> My</b> <b style="color: rgb(242, 145, 17)">
                SQL</b> is a relational database management system (RDBMS) developed by Oracle that is based on
              structured query language (SQL).</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/nnBMsGrwuUE?list=PLjVLYmrlmjGeyCPgdHL2vWmEGKxcpsC0E" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/O8tKWYKG4jA">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>


          <div class="card-body">
            <p class="card-text"> <b style="color: rgb(6, 173, 240)">S</b> <b style="color: #ff00ff">E</b> <b
                style="color: red">O</b> stands for “search engine optimization.” In simple terms, it means the process
              of improving your site.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/O8tKWYKG4jA" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/MsidHeW8cKo">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>

          <div class="card-body">
            <p class="card-text"><b style="color: black"> Flask</b> is a small and lightweight python web framework that provides useful tools and features that make creating web applications in python easier.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/MsidHeW8cKo" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/kQQaO5Cm5AI">
            width="100%" height="225" role="video" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
            slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </iframe>

          <div class="card-body">
            <p class="card-text"> <b style="color: #306998"> Pandas </b> is an open source Python package that is most widely used for data science/data analysis and machine learning tasks.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://youtu.be/kQQaO5Cm5AI" target="_blank"> <button class="btn btn-sm btn-outline-info" type="submit">Start Watching</button></a>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<strong> <b>
    <footer class="pt-3 mt-5 text-center border-top"  style="background-color: orange">
      Copyright © 2022 CodeWithHiren
    </footer>
  </b></strong>
{% endblock body %}