{% extends 'base.html' %}
{% block title %}
<title>Home | CodeWithHiren</title>
{% endblock title %}

{% block body %}
<div class="container">{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes my-2">
        {% for category, message in messages %}
        <div class="alert alert-{{category}}   alert-dismissible fade show" role="alert">
            <strong> {{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-5 fw-bold">Welcome to
                <span style="color: orange">CodeWithHiren</span>
            </h1>

            <p class="col-md-8 text-muted text-gray fs-4">“Any fool can write code that a computer can understand. Good programmers write
                code that humans can understand.”</p>
            <p class="col-md-8 text-muted text-gray fs-4">“ Code is like humor. When you have to explain it, it’s bad.” </p>
        
           <a href="/free_courses"> <button type="submit" class="btn btn-warning">Free Courses</button></a>
        </div>
        
    </div>
    
    <h2 class="text-3xl font-medium title-font text-gray-900 my-5 text-center">Recommended Courses</h2>

    <div class="row align-items-md-stretch ">
        <div class="col-md-6 ">
            <div class="h-100 p-5 bg-light border rounded-3">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/sCOw5y1RQpY">
                </iframe>
                <div class="px-6 md:my-11 lg:my-0 md:h-72 lg:h-64 lg:py-4 xl:h-52"><span class="tracking-widest text-xs title-font font-medium text-muted text-gray-400 mb-1">Free Course</span><div class="title-font text-lg font-medium text-gray-900 mb-3"><b> Python Tutorials For     Beginners </b></div><p class="text-gray-700 text-base">Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.</p></div>
               <a href="https://youtu.be/sCOw5y1RQpY" target="_blank"> <button class="btn btn-warning" type="submit">Start Watching</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/6tdfhlIoxOw">
                </iframe>
                <div class="px-6 md:my-11 lg:my-0 md:h-72 lg:h-64 lg:py-4 xl:h-52"><span class="tracking-widest text-xs title-font font-medium text-muted text-gray-400 mb-1">Free Course</span><div class="title-font text-lg font-medium text-gray-900 mb-3"><b> Django Tutorials For Beginners </b></div><p class="text-gray-700 text-base">Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development.</p></div>
                <a href="https://youtu.be/6tdfhlIoxOw" target="_blank"><button class="btn btn-warning" type="submit">Start Watching</button></a>
            </div>
        </div>
    </div>
    <strong> <b><footer class="pt-3 mt-4 text-center   border-top" style="background-color: orange">
        Copyright © 2022 CodeWithHiren
    </footer></b></strong>
</div>
</div>
{% endblock body %}